.story-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.story-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

